
@{
    ViewBag.Title = "deleteCashier";
}

<h2>deleteCashier</h2>

<form method="post" action="@Url.Action("deleteCashier")">
    Id:<input type="text" name="cid" />
    <input type="submit" value="Delete" />
</form>