
@{
    ViewBag.Title = "updateItem";
}

<h2>updateItem</h2>

<form method="post" action="@Url.Action("updateItem")">
    Id:<input type="text" name="iid" />
    Name:<input type="text" name="iName" />
    Quantity:<input type="text" name="iQuantity" />
    Description:<input type="text" name="iDesc" />
    <input type="submit" value="Update" />
</form>